{% extends 'tutoringApp/base_header_clean.html' %}

{% load widget_tweaks %}

{% block title %}
    Change password
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles/css/change_password.css' %}"> 
{% endblock %}

{% block main %}
<div class="change box">
    <div class="change-header box-header">
        Change password
    </div>  
    <div class="change-main box-main_padded">
        <form method="post">
            {% csrf_token %}
            <div class="change-main-old stack-container_small">
                <div class="change-main-old-top info-top">
                    Old password 
                </div>
                <div class="change-main-old-bottom_errors form_error">
                    {% for error in form.old_password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="change-main-old-bottom">
                    {{form.old_password|add_class:'text-input'}}
                </div>
            </div>
            <div class="change-main-new stack-container_small">
                <div class="change-main-new-top info-top">
                    New password
                </div>
                <div class="change-main-new-bottom_errors form_error">
                    {% for error in form.new_password1.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="change-main-new-bottom">
                    {{form.new_password1|add_class:'text-input'}}
                </div>
            </div>
            <div class="change-main-new_confirm stack-container_small">
                <div class="change-main-new_confirm-top info-top">
                    Confirm new password
                </div>
                <div class="change-main-new_confirm-bottom_errors form_error">
                    {% for error in form.new_password2.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="change-main-new_confirm-bottom">
                    {{form.new_password2|add_class:'text-input'}}
                </div>
            </div>
            <div class="change-main-submit">
                <button type="submit" class="button_fill_green change-submit_btn">
                    Submit
                </button>
            </div>
        </form>
    </div>  
</div>  
{% endblock %}