{% extends 'tutoringApp/base_header_clean.html' %}

{% block title %}
    TutoringApp
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block main %}
    <div class="login box">
        <div class="login-header box-header">
            Login
        </div>
        <div class="login-main box-main_padded stack_container">
            <div class="login-main-form stack_container_small">
                <form method="POST">
                    <div class="stack-container">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <div class="centered_button_container">
                            <button type="submit" class="button_fill_green">Login</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="login-main-register_link info-top">
                If you don't already have an account, create one&nbsp;<a href="{% url 'profiles:register' %}">here.</a>
            </div>
        </div>
    </div>

{% endblock %}