{% extends 'tutoringApp/base.html' %}

{% block script_search %}
    {% load static %}
    <script defer src="{% static 'tutoringApp/js/searchStudent.js' %}"></script>
{% endblock %}

{% block search %}
<div class="mobile header-left-search header-side-item_mobile">
    <div class="header-left-search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </div>
</div>
<div class="desktop header-left-search header-side-item_desktop">
    <select class="header-left-search-subject" id="header-left-search-subject">
        {% for subject in subjects %}
            <option value="{{subject.pk}}">{{subject.name}}</option>
        {% endfor %}
    </select>
    <input type="text" class="header-left-search-first_name" id="header-left-search-first_name" placeholder="First name">
    <input type="text" class="header-left-search-last_name" id="header-left-search-last_name" placeholder="Last name">
    <button class="header-left-search-button" id="header-left-search-button">
        <a href="{% url 'search:for_student' %}">
            <div class="header-left-search-button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </div>
        </a>
    </button>  
</div>
{% endblock %}

{% block header_links %}
<div class="header-right-dropdown-item">
    <a href="{% url 'profiles:student_display' user.id %}">
        Profile
    </a>
</div>  
<div class="header-right-dropdown-item">
    <a href="{% url 'lessons:booking_display_student' %}">
        Lessons
    </a>
</div>
<div class="header-right-dropdown-item">
    <a href="{% url 'subscriptions:learning_student_list' %}">
        Subscriptions
    </a>
</div>
<div class="header-right-dropdown-item">
    <a href="#">
        Chats
    </a>
</div>
{% endblock %}