<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'tutoringApp/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'tutoringApp/css/generals.css' %}">
        <link rel="stylesheet" href="{% static 'tutoringApp/css/header_general.css' %}">
        {% block styles %}
        {% endblock %}

        {% block styles_additional %}
        {% endblock %}

        <script defer src="{% static 'tutoringApp/js/getCookie.js' %}"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header-left header-side">
                <div class="header-left-logo">
                    <a href="{% url 'home:home' %}">
                        <h2>
                            TutorApp
                        </h2>
                    </a>
                </div>

            {% block search %}
            {% endblock %}
                
            </div>
            <div class="header-right header-side">
                {% if user.is_authenticated %}
                    <input type="checkbox" class="header-right-checkbox" id="header-right-checkbox">
                    <div class="header-right-username link-container">
                        <a href="#">
                            {{ user.username }}
                        </a>
                    </div>
                    <div class="header-right-profile">
                        <img src="{{profile_pic_url}}">
                    </div>
                    <label for="header-right-checkbox">
                        <div class="header-right-arrow icon_green">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </div>
                    </label>
                    <div class="header-right-dropdown">
                        {% block header_links %}
                        {% endblock %}
                        <div class="header-right-dropdown-log_out header-right-dropdown-item">
                            <a href="{% url 'profiles:logout' %}">
                                Log out
                            </a>
                        </div>
                    </div>
                {% else %} 
                    <a href="{% url 'profiles:login' %}">
                        <div class="header-right-log_in adjacent-container">
                            <div class="header-right-log_in-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </div>
                            <div class="header-right-log_in-text">
                                Log in 
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
        </header>
        
        <main>
            {% block main %}
            {% endblock %}
        </main>

        <div class="info">
            {% block info %}
            {% endblock %}
        </div>
        
        <footer>
        </footer>
    </body>
</html>