main {
    width: 100%
}

div.reset {
    padding: unset;
}

div.reset-main-info {
    text-align: center;
}

div.invalid {
    border: 1px solid var(--gray-red-light);
    padding: unset;
}

div.invalid-header {
    background-color: var(--gray-red-extra-extra-light);
    border-bottom:  1px solid var(--gray-red-light);
    color: var(--gray-red-extra-dark)
}

div.invalid-main_padded {
    text-align: center;
    font-size: 0.85rem;
    color: var(--gray-red-dark);
}

div.form_error {
    font-size: 0.75rem;
    color: var(--gray-red-dark);
}

@media(min-width: 800px) {
    main {
        width: 35%
    }
}