main {
    width: 100%
}

div.change {
    padding: unset;
}

div.change-main > form > div {
    margin-bottom: 0.375rem;
}

div.change-main-submit {
    display: flex;
    justify-content: center;
}

button.change-submit_btn {
    margin-top: 1rem;
}

div.form_error {
    font-size: 0.75rem;
    color: var(--gray-red-dark);
}

@media(min-width: 600px) {
    main {
        width: 600px;
    }
}