main {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

main > div {
    padding: unset;
}

ul.errorlist {
    display: none;
}

div.login-main-form-errors {
    font-size: 0.8rem;
    color: var(--gray-red-dark);
    text-align: center;
}

div.login-main-form-input {
    display: flex;
}

div.login-main-form-input > div {
    flex: 1
}

div.login-main-register_link {
    padding-top: 0.5rem;
    border-top: 1px solid var(--gray-bluegreen-light);
    display: flex;
    justify-content: center;
}

div.login-main-register_link > a {
    color: var(--gray-bluegreen-extra-dark);
}