main {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: start;
    justify-content: center;
}

main > div {
    padding: unset;
}

div.register-main-login_link {
    padding-top: 0.5rem;
    border-top: 1px solid var(--gray-bluegreen-light);
    display: flex;
    justify-content: center;
}

div.register-main-login_link > a {
    color: var(--gray-bluegreen-extra-dark);
}