main {
    width: 85%
}

.desktop {
    display: none;
}

div.profile-edit {
    display: flex;
    border-bottom: 1px solid var(--gray-bluegreen-medium);
    padding-bottom: 1rem;
}

div.profile-info-main-left_top {
    margin-bottom: 1rem;
    position: relative;
    aspect-ratio: 1 / 1;
}

div.profile-info-main-left_top-picture > img {
    height: 100%;
    width: 100%;
}

div.profile-info-main-left_top-picture {
    position: relative;
    padding: 1.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--gray-bluegreen-medium);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.profile-info-main-left_top-picture-input {
    display: none;
}

label.profile-info-main-left_top-picture-input_label {
    display: none;
}

div.profile-info-main-left_top-delete {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem; 
}

div.profile-description-header {
    color: var(--gray-bluegreen-extra-dark);
}


div.profile-description-text {
    color: var(--gray-bluegreen-medium);
    font-size: 0.85rem;
}

div.profile-education-main-management_form {
    display: none;
}

div.profile-education-main-school {
    align-items: center;
    justify-content: space-around;
}

div.profile-education-main-school-info {
    overflow: scroll;
}

div.form_error {
    color: var(--gray-red-dark);
    font-size: 0.85rem;
}

div.profile-submit {
    display: flex;
    justify-content: center;
}

@media(min-width: 800px) {
    main {
        width: 70%
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    div.profile-info-main > div {
        flex: 1;
    }

    div.profile-info-main-left_top {
        margin-bottom: unset;
    }

    div.profile-info-main-left_top-picture {
        aspect-ratio: 1 / 1;
        border: 1px solid var(--gray-bluegreen-medium)
    }

    div.profile-info-main-left_top-button {
        width: 10rem;
        margin: unset;
    }

    div.profile-info-main-right_bottom {
        flex: 1
    }
}