{% extends 'tutoringApp/base_student.html' %}

{% load widget_tweaks %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/review/create.css' %}">
{% endblock %}

{% block main %}
<form  method="post">
    {% csrf_token %}
    <div class="rate stack-container">
        <div class="rate-header">
            <div class="rate-header-text">
                Rating for {{subscription.tutor.full_name}} in {{subscription.subject.name}}
            </div>
            <div class="rate-header-delete icon_green">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
            </div>
        </div>
        <div class="form-main-form_wrap-form-errors stack-container_smaller">
            {% for error in form.errors %}
                <div class="form-main-form_wrap-form-errors-error form_error">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="rate-number">
            <label for="{{form.star_rating.id_for_label}}">Rating: </label>
            {{ form.star_rating|add_class:'number-input' }}
        </div>
        <div class="rate-comment">
            {{ form.text|add_class:'textarea' }}
        </div>
        <div class="rate-subscription hidden">
            {{ form.subscription }}
        </div>
        <div class="rate-submit">
            <button class="form-main-form_wrap-submit-btn button_fill_green" type="submit">
                Submit
            </button>
        </div>
    </div>
</form>
{% endblock %}