main {
    width: 90%
}

main > div {
    padding: unset;
    background-color: unset;
}

div.services {
    padding: unset;
    background-color: white;
}

div.services-main-list-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.services-main-list-service-info {
    align-items: stretch;
}

div.info-bottom > input[type="number"] {
    height: 100%;
}

div.services-main-list-service-delete {
    display: flex;
    align-items: center;
}

div.services-main-list-service-delete > div:not(div:last-of-type) {
    margin-right: 0.25rem;
}

div.services-main-submit {
    width: 100%;
}

@media(min-width: 800px) {
    main {
        display: flex;
        width: 100%;
        height: calc(100vh - var(--header-height));
        align-items: flex-start;
        justify-content: center;
        overflow: scroll;
    }

    div.services {
        width: 35rem;
    }

}
