{% extends 'tutoringApp/base_student.html' %}

{% load lesson_extras %}

{% block title %}
    Chat
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
{% endblock %}

{% block main %}
    {{ tutor_id|json_script:"tutor_id" }}
    {{ student_id|json_script:"student_id" }}
    {{ user.id|json_script:"current_user_id"}}
    <div class="chat stack-adjecent-container">
        <div class="chat-left_top box desktop">
            <div class="chat-left_top-header box-header">
                Chats
            </div>
            <div class="chat-left_top-main box-main">
                {% for profile in profiles %}
                    <div class="chat-left_top-main-chat link-container">
                        <a href="{% url 'chat:student_chat_window' profile.pk user.id %}">
                            {{profile.full_name}}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="chat-left_top box_dropdown mobile">
            <input type="checkbox" class="chat-left_top-checkbox box_dropdown-header-checkbox" id="chat-left_top-checkbox-0">
            <div class="chat-left_top-header box_dropdown-header">
                <div class="chat-left_top-header-text box_dropdown-header-text">
                    Chats
                </div>
                <label for="chat-left_top-checkbox-0">
                    <div class="chat-left_top-header-arrow box_dropdown-header-arrow box_dropdown-header-arrow-down">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </div>

                    <div class="chat-left_top-header-arrow box_dropdown-header-arrow box_dropdown-header-arrow-up">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                        </svg>
                    </div>
                </label>
            </div>
            <div class="chat-left_top-main box_dropdown-main">
                {% for profile in profiles %}
                    <div class="chat-left_top-main-chat link-container">
                        <a href="{% url 'chat:student_chat_window' profile.pk user.id %}">
                            {{ profile.full_name}}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="chat-right_bottom box">
            {% block window %}
                <div class="chat-right_bottom-header box-header">
                    Info
                </div>
                <div class="chat-right_bottom-main box-main_padded">
                    Select one of the Tutors to start a chat!
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}