{% extends 'chat/chat_student.html' %}

{% block script %}
{% load static %}
    <script defer src="{% static 'chat/js/chatHandler.js' %}"></script>    
{% endblock %}

{% block window %}
<div class="chat-right_bottom-header box-header">
    {{ tutor.full_name }}
</div>
<div class="chat-right_bottom-main box-main">
    {{ tutor.pk|json_script:"tutor_id" }}
    {{ user.id|json_script:"student_id" }}
    {{ user.id|json_script:"current_user_id"}}
    <div class="chat-right_bottom-main-chat"></div>
    <div class="chat-right_bottom-main-message adjacent-container">
        <div class="chat-right_bottom-main-message-text">
            <textarea id="chat-right_bottom-main-message-text-textarea"></textarea>
        </div>
        <div class="chat-right_bottom-main-message-send icon_green" id="chat-right_bottom-main-message-send-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
            </svg>
        </div>
    </div>
</div>
{% endblock %}