{% extends 'tutoringApp/base_header_clean.html' %}

{% load widget_tweaks %}

{% block title %}
    Password reset
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'password_reset/css/password_reset.css' %}"> 
{% endblock %}

{% block main %}
    <div class="reset box box-main">
        <div class="reset-header box-header">
            Forgot your password?
        </div>
        <div class="reset-main box-main_padded stack-container">
            <div class="reset-main-info centered_button_container info-top">
                Enter your email address below, and we'll email instructions for setting a new one.
            </div>
            <div class="reset-main-form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="reset-main-from-container stack-container_small">
                        <div class="reset-main-from-container-input">
                            {{ form.email|add_class:'text-input' }}
                        </div>
                        <div class="reset-main-from-container-button centered_button_container">
                            <button type="submit" class="button_fill_green">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

  
{% endblock %}