{% extends 'tutoringApp/base_header_clean.html' %}

{% block title %}
    Email sent
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'password_reset/css/password_reset.css' %}"> 
{% endblock %}

{% block main %}
    <div class="reset box box-main">
        <div class="reset-header box-header">
            Check your inbox.
        </div>
        <div class="reset-main box-main_padded info-top">
            An email with instructions for resetting the passoword has been sent to the provided email address.
        </div>
    </div>
{% endblock %}
