{% extends 'tutoringApp/base_header_clean.html' %}

{% block title %}
    Email sent
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'password_reset/css/password_reset.css' %}"> 
{% endblock %}

{% block main %}
    <div class="reset box box-main">
        <div class="reset-header box-header">
            Password reset.
        </div>
        <div class="reset-main box-main_padded stack-container">
            <div class="reset-main-info info-top">
                You're password has been successfuly reset.
            </div>
            <div class="reset-main-btn centered_button_container">
                <div class="button_fill_green">
                    <a href="{% url 'profiles:login' %}">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
