main {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main > div {
    padding: unset;
}

div.confirm-main > div {
    text-align: center;
}

div.confirm-main-btns > form:not(form:last-of-type) {
    margin-right: 0.5rem;
}